<!-- <style>
  nav ul {
    list-style-type: none;
}
nav li {
    line-height: 30px;
}
nav a {
    text-decoration: none;
}
nav li.active a {
    color: #ffffff;
}

/* NAVIGATION BAR
 -------------------------------------------------- */
#navigation {
    min-height: 70px !important;
    padding-top: 10px;
}
#navigation .navbar-brand {
    padding-right: 28px;
    width: 280px;
    border-right: 3px solid rgba(255, 255, 255, 0.1);
    font-family: "hobo-std", sans-serif;
    font-style: italic;
    font-size: 26px !important;
    color: #5fcf80 !important;
}
#navigation .navbar-brand .site-logo {
    float: left;
    margin-top: -10px;
    margin-right: 1rem;
    width: 250px;
}
#navigation #navbar {
    float: right !important;
    margin-right: -15px;
    font-family: 'Helvetica Rounded', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 38px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5) !important;
}
@media (max-width: 768px) {
    #navigation #navbar {
        float: none !important;
        margin-right: 0;
    }
}
#navigation #navbar .navbar-nav li a {
    color: #b2bbbd !important;
}
#navigation #navbar .navbar-nav li a:hover,
#navigation #navbar .navbar-nav li a:focus {
    color: #ffffff !important;
    border-bottom: 2px solid #ffffff !important;
}
#navigation #navbar .navbar-nav .active a {
    color: #ffffff !important;
    border-bottom: 2px solid #ffffff !important;
}
#navigation #navbar .navbar-nav .dropdown-menu li a {
    color: #515151 !important;
    text-shadow: none !important;
}
</style> -->


<!-- <nav id="navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
        {% assign links = site.data.navigation %}
        {% for link in links %}
            {% assign class = nil %}
            {% if page.url contains link.url %}
                {% assign class = 'active' %}
            {% endif %}
            {% if link.sublinks %}
                <li class="dropdown {{ class }}">
                    <a href="{{ site.url }}{{ site.baseurl }}{{ link.url }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ link.title }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for sublink in link.sublinks %}
                            {% if sublink.title == 'separator' %}
                                <li role="separator" class="divider"></li>
                            {% else %}
                                <li>
                                    <a href="{{ site.url }}{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            {% else %}
                <li class="{{ class }}">
                    <a href="{{ site.url }}{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav> -->


<!-- Navigation -->
   <nav class="navbar navbar-expand-lg navbar-light fixed-top" role="navigation" id=mainNav>
       <div class="container">
           <!-- <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                   <i class="fa fa-bars"></i>
               </button>
               <a class="navbar-brand page-scroll" href="#page-top">
                   <i class="fa fa-play-circle"></i>  <span class="light">Start</span> Bootstrap
               </a>
           </div> -->
           <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
           data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="true" aria-label="Toggle navigation">
             Menu
             <i class="fas fa-bars"></i>
           </button>

           <!-- Collect the nav links, forms, and other content for toggling -->
           <!-- <div class="collapse navbar-collapse navbar-right navbar-main-collapse" id="navbarResponsive"> -->
           <div class="collapse navbar-collapse" id="navbarResponsive">
               <!-- <ul class="nav navbar-nav"> -->
               <ul class="navbar-nav ml-auto">
                 {% assign links = site.data.navigation %}
                 {% for link in links %}
                     {% assign class = nil %}
                     {% if page.url contains link.url %}
                         {% assign class = 'active' %}
                     {% endif %}
                     {% if link.sublinks %}
                         <li class="nav-item {{ class }}">
                             <a href="{{ site.url }}{{ site.baseurl }}{{ link.url }}" class="dropdown-toggle nav-link js-scroll-trigger" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ link.title }} <span class="caret"></span></a>
                             <ul class="dropdown-menu">
                                 {% for sublink in link.sublinks %}
                                     {% if sublink.title == 'separator' %}
                                         <li role="separator" class="divider"></li>
                                     {% else %}
                                         <li>
                                             <a href="{{ site.url }}{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a>
                                         </li>
                                     {% endif %}
                                 {% endfor %}
                             </ul>
                         </li>
                     {% else %}
                         <li class="nav-item {{ class }}">
                             <a class="nav-link js-scroll-trigger" href="{{ site.url }}{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
                         </li>
                     {% endif %}
                 {% endfor %}
               </ul>
           </div>
           <!-- /.navbar-collapse -->
       </div>
       <!-- /.container -->
   </nav>
