 <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light sticky-top" role="navigation" id=mainNav>
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              Menu
              <i class="fa fa-bars"></i>
            </button>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <!-- <div class="collapse navbar-collapse navbar-right navbar-main-collapse" id="navbarResponsive"> -->
            <div class="collapse navbar-collapse collapse" id="navbarResponsive">
                <!-- <ul class="nav navbar-nav"> -->
                <ul class="navbar-nav ml-auto">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="nav-link js-scroll-trigger" href="#page-top"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" class="page-scroll" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" class="page-scroll" href="#download">Download</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
