<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    {% comment %}
    {% include mainmenu.html %}
    {% endcomment %}
    {% include nav.html %}

    {% include header.html %}
    {% include about.html %}
    {% include projects.html %}
    {% include download.html %}
    {% include contact.html %}

    {% comment %}
    {% include map.html %}
    {% endcomment %}

    {% include footer.html %}
    {% include js.html %}
    </body>
</html>
